@font-face {
    font-family: 'Vegan Style Personal Use Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Vegan Style Personal Use Regular'), url('Vegan Style Personal Use.woff') format('woff');
}

.navbar-light .navbar-brand {
    color: rgb(251, 89, 96);
}
.navbar-brand {
    font-family: 'Vegan Style Personal Use Regular';
    font-size: 32pt;
}