<!DOCTYPE html>
<html class="fixed-headers copy flexbox flexwrap imageset hipdi" lang="eng">
    <head>
        {% block head %}
            <!-- meta tags -->
            <meta charset="utf-8">
            <meta name="keywords" content="Food, Meal, Sharing, Social, Takeout, Carryout">
            <!-- <meta http-equiv="refresh" content="30"> -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Food Sharing - Free San Francisco Meals | Mealcast </title>
            <!-- React Scripts -->
            <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
            <script crossorigin src="https://unpkg.com/prop-types@15.6/prop-types.min.js"></script>
            <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
            <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
            <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
            <script src="/static/js/app.jsx" type="text/jsx"></script>

            <!-- Google Maps API Script  -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script>
        
            <!-- Bootstrap Link -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <!-- CSS Link -->
            <link rel="stylesheet" href="static/main.css" />
        {% endblock %}
        </head>
        <body>
            {% block content %}
            {% endblock %}
        </body>
    </html>